<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
          http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
">
    <!-- Import CXF -->
    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
    <!-- common beans for cxf web service -->
    <import resource="classpath:spring/spring-cxf-common.xml" />

    <!--    <util:properties id="server" location="server.properties"></util:properties>-->
    <!-- Property place holder for properties file that hs -->
    <!--    <bean id="propertyConfigurer"
              class="org.jasypt.spring31.properties.EncryptablePropertyPlaceholderConfigurer">
        <constructor-arg ref="configurationEncryptor" />
        <property name="order" value="20" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
            <list>
                <value>classpath:server.properties</value>
            </list>
        </property>
    </bean>-->

    <bean id="cityService" class="com.study.webservice.impl.CityServiceImpl"/>
    <bean id="accountService" class="com.study.webservice.impl.AccountServiceImpl"/>

    <jaxws:endpoint id="getCitiesWS" address="/ws" implementor="#cityService">
        <jaxws:inInterceptors>
            <ref bean="loggingInInterceptor"/>
            <ref bean="wSS4JInInterceptor"/>
            <!--            <ref bean="cryptoCoverageChecker"/>-->
        </jaxws:inInterceptors>
        <jaxws:outInterceptors>
            <ref bean="logOutInterceptor"/>
        </jaxws:outInterceptors>
    </jaxws:endpoint>

    <jaxrs:server id="getCitiesRS" address="/rs">
        <jaxrs:serviceBeans >
            <ref bean="cityService" />
            <ref bean="accountService" />
        </jaxrs:serviceBeans>
        <jaxrs:extensionMappings>
            <entry key="json" value="application/json" />
            <entry key="xml" value="application/xml" />
        </jaxrs:extensionMappings>
        <jaxrs:providers>
            <ref bean="jaxbProvider"/>
            <ref bean="jacksonJsonProvider"/>
            <ref bean="jsonProvider"/>
        </jaxrs:providers>
        <jaxrs:inInterceptors>
            <ref bean="loggingInInterceptor"/>
        </jaxrs:inInterceptors>
        <jaxrs:outInterceptors>
            <ref bean="logOutInterceptor"/>
        </jaxrs:outInterceptors>
    </jaxrs:server>

    <jaxrs:server id="citiesRS" address="/copyrs">
        <jaxrs:serviceBeans >
            <ref bean="cityService" />
            <ref bean="accountService" />
        </jaxrs:serviceBeans>
        <jaxrs:extensionMappings>
            <entry key="json" value="application/json" />
            <entry key="xml" value="application/xml" />
        </jaxrs:extensionMappings>
        <jaxrs:providers>
            <ref bean="jaxbProvider"/>
            <ref bean="jacksonJsonProvider"/>
            <ref bean="jsonProvider"/>
        </jaxrs:providers>
        <jaxrs:inInterceptors>
            <ref bean="loggingInInterceptor"/>
        </jaxrs:inInterceptors>
        <jaxrs:outInterceptors>
            <ref bean="logOutInterceptor"/>
        </jaxrs:outInterceptors>
    </jaxrs:server>


</beans>
