<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs-client"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
          http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
          http://cxf.apache.org/jaxrs-client http://cxf.apache.org/schemas/jaxrs-client.xsd
">

    <!-- Import CXF -->
<!--    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />-->

    <bean id="depthProperties" class="org.apache.cxf.staxutils.DocumentDepthProperties">
        <property name="innerElementCountThreshold" value="500"/>
    </bean>

    <bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider">
        <property name="depthProperties" ref="depthProperties"/>
    </bean>

    <bean id="jsonProvider" class="org.apache.cxf.jaxrs.provider.json.JSONProvider">
        <property name="depthProperties" ref="depthProperties"/>
    </bean>

    <bean id="jacksonJsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>

    <bean id="cityClientWS" class="com.study.webservice.CityService" factory-bean="clientFactoryWS" factory-method="create"/>

    <bean id="clientFactoryWS" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="com.study.webservice.CityService"/>
        <property name="address" value="${webservice.address}/ws/cities/all"/>
    </bean>

    <util:list id="webClientProviders">
        <ref bean="jaxbProvider"/>
        <ref bean="jacksonJsonProvider"/>
        <ref bean="jsonProvider"/>
    </util:list>

    <bean id="webClient" class="org.apache.cxf.jaxrs.client.WebClient" factory-method="create">
        <constructor-arg type="java.lang.String" value="${webservice.address}" />
        <constructor-arg ref="webClientProviders"/>
    </bean>

    <jaxrs:client id="cityClientRS" address="${webservice.address}" serviceClass="com.study.webservice.CityService">
        <jaxrs:headers>
            <entry key="Accept" value="application/json"></entry>
        </jaxrs:headers>
    </jaxrs:client>

    <jaxws:client id="cityClientWS1"
                  serviceClass="com.study.webservice.CityService"
                  address="${webservice.address}/rs/cities/all" >
    </jaxws:client>

</beans>
